body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
}

.about, .portfolio, .contact {
    padding: 40px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px; /* Aumenta la separación entre los videos */
}

.project {
    width: 450px; /* Tamaño fijo para mantener el formato de video */
    text-align: center;
}

.project iframe {
    width: 100%;
    height: 315px;
    border-radius: 8px;
}

.contact a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #222;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #222;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
